
#container {
    width: 100%;
    height: 49vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
}

#item {
    width: 100px;
    height: 100px;
    background-color: rgb(245, 230, 99);
    border: 10px solid rgba(136, 136, 136, .5);
    border-radius: 50%;
    touch-action: none;
    /* user-select: none; */
}

#item:active {
    background-color: rgba(168, 218, 220, 1.00);
}

#item:hover {
    cursor: pointer;
    border-width: 20px;
}

#area {
    position: fixed;
    right: 0;
    top: 0;
}

#emergency-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#emergency-button:hover {
    background-color: darkred;
}

#joyDiv {
    width:200px;
    height:200px;
    margin:auto;
}

#outerContainer .innerContainer {
    height: 40vh;
}